.crt-mdl {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60vw;
  height: 80vh;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: white;
}

.crt-mdl-content {
  text-align: center;
}

.crt-mdl-follows {
  display: flex;
  justify-content: center;
}