.crt-mdl {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40vw;
  height: 60vh;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: white;
  overflow-y: auto;
}

.crt-mdl-content {
  text-align: center;
}

.crt-mdl-follows {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.crt-mdl-follows > button {
  background-color: white;
  border: 0px;
}

.creator-tab-selected {
  color: #0870D1;
  box-shadow: #0870D1 0px -2px inset;
}

.modal-follows-tabs {
  text-align: center;
}

.crt-mdl-flrs {
  background-color: #f7f8fa;
  padding: 10px;
  margin-top: 10px;
}

.crt-mdl-pics {
  background-color: #f7f8fa;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.crt-mdl-pic-li {
  flex-grow: 1;
  position: relative;
  box-sizing: border-box;
}

.crt-mdl-pic-li img {
  height: 150px;
  min-width: 100%;
  object-fit: fill;
}

.crt-mdl-pic-li img:hover {
  filter: brightness(50%);
}

.crt-mdl-gals {
  background-color: #f7f8fa;
  padding: 10px;
  margin-top: 10px;
  justify-content: center;
}

.modal-gal-link > p:hover {
// .modal-gal-link:hover {
  color: #089fd1;
}