@import "../base/colors.scss";

.top_image .top-image-content {
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 15%;
  max-width: 30%;
  text-align: left;
  background-color: gray;
  opacity: 0.9;
  padding: 30px 30px;
  font-size: 1vw;
  border-radius: 10px;
}