@import "../base/colors.scss";

// .login-form-container {
// }

.demo {
  background-color: $lightest-blue;
  text-decoration-color: $darkest-blue;
}

.close-x {
  background-color: white;
  color: $blue;
}