.gallery-create {
  margin-top: 100px;
}

.gallery-create > h1 {
  text-align: center;
  font-size: 21px;
  font-family: "Helvetica Neue", HelveticaNeue, 
                Helvetica, FreeSans, 
                Arial, sansserif;
}

.gal-form {
  padding-top: 20px;
  margin-left: 50px;
}

.gallery-form-pics {
  display: flex;
  justify-content: center;
}

.create-gallery-pics {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  width: 1024px;
}

.user-pics {
  position: relative;
  box-sizing: border-box;
  flex-grow: 1;
  margin: 5px;
}

.user-pics > img {
  height: 150px;
  min-width: 100%;
  object-fit: cover;
}

.img-clicked > img {
  filter: grayscale(0%);
  border: rgb(8, 159, 209) solid 3px;
}

.gal-err-box {
  position: absolute;
  margin-top: -25px;
}

.gal-err {
  margin-left: 190px;
}