.gallery-show >h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 21px;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: black;
  margin-bottom: 15px;
  line-height: 110%;
}

.gallery-curated-by {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.gallery-show > p {
  text-align: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-bottom: 10px;
  line-height: 120%;
}

.gallery-show-pics {
  margin-top: 20px;
  padding: 20px;
  background-color: #f7f8fa;
  display: flex;
}

.gallery-show-pics > h2 {
  text-align: center;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-bottom: 10px;
  line-height: 120%;
}

.pics-in-gallery {
  display: flex;
  flex-wrap: wrap;
}

.pics-in-gallery-li {
  flex-grow: 1;
  position: relative;
  box-sizing: border-box;
}

.pics-in-gallery-li img {
  height: 200px;
  min-width: 100%;
  object-fit: cover;
}

.pics-in-gallery-li img:hover {
  filter: brightness(15%);
}

.more-galleries {
  margin-top: 10px;
}

.more-galleries > p {
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-bottom: 10px;
  line-height: 120%;
}

.own-gallery {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.more-galleries > h4 {
  text-align: center;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-bottom: 10px;
  line-height: 120%;
}

.other-galleries {
  background-color: #f7f8fa;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  flex-flow: row wrap;
  align-items: center;
  column-gap: 1em;
  object-fit: contain;
  text-align: center;
}
