.galleries {
  margin-top: 100px;
  text-align: center;
}

.galleries > h1 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: black;
  margin-bottom: 15px;
  line-height: 110%;
}

.galleries > p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-bottom: 10px;
  line-height: 120%;
}

.gal-index-no-pics > p {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin-bottom: 10px;
  line-height: 120%;
}

.gal-idx-pic-upload {
  border-radius: 5px;
  border: 2px solid black;
  text-decoration: none;
  color: black;
}

.gal-idx-pic-upload:hover {
  color: #1890ff;
}

.new-gallery {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, FreeSans, Arial, sansserif;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  width: 150px;
  padding: 0px 24px;
  margin: 0px;
  background-color: #0870D1;
  border-width: 2px;
  border-color: #0870D1;
  color: white;
  border-radius: 28px;
  border-style: solid;
  height: 30px;
}

.new-gallery:hover {
  background-color: #089FD1;
  border-color: #089FD1;
}

.gallery-index{
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  background-color: #f7f8fa;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  column-gap: 0.5em;
  row-gap: 0.5em;
  object-fit: contain;
  text-align: center;
}

.individual-gal {
  height: 350px;
  width: 300px;
  box-shadow: black 0px 0px 4px;
  display: inline-block;
}

.individual-gal img {
  display: block;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.individual-gal:hover {
  color: #1890ff;
  filter: brightness(50%);
}