.edit-show {
  background-color: #f7f8fa;
  height: 500px;
}

.edit-header {
  background-color: #f7f8fa;
  padding-bottom: 20px;
}

.manager {
  background-color: #ffffff;
  margin-top: 80px;
  font-family: Arial;
  font-size: 24px;
  font-weight: bolder;
  padding-left: 50px;
}

.edit {
  object-fit: contain;
  max-height: 300px;
  max-width: 300px;
  margin-top: 100px;
  margin-left: 100px;
  background-color: #f7f8fa;
}

.edit:hover {
  filter: brightness(50%);
}

.edit-not-header {
  background-color: #f7f8fa;
}


.edit-info {
  float: left;
  margin-left: 100px;
  background-color: #f7f8fa;
}

.img-container {
  background: black;
  align-items: center;
}

.img-info > h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.img-info > p {
  font-family: Arial, Helvetica, sans-serif;
}
