.individual-pic {
  flex-grow: 1;
  position: relative;
  box-sizing: border-box;
  margin-right: 5px;
  margin-bottom: 5px;
}

.pic-link > p:hover {
  text-decoration-color: #1890ff;
}

.pic-link img {
  height: 160px;
  min-width: 100%;
  object-fit: cover;
}


.pic-idx-itm-title {
  display: none;
}

.index-img:hover + .pic-idx-itm-title {
  display: block;
  margin-top: -30px;
  margin-left: 10px;
  color: #ffffff;
}