.picture {
  margin-top: 80px;
  margin-left: 20px;
  font-family: Tahoma;
}

.picture-preview > h1 {
  text-align: center;
}

.preview {
  height: 200px;
  transition: transform .5s ease;
}

.preview:hover {
  transform: scale(2);
}

.pic-err {
  margin-left: 250px;
}