.pic-index-container {
  display: grid;
  margin-top: 30px;
  font-family: Tahoma;
  background: rgb(247, 248, 250);
}

.pic-index {
  padding: 50px;
  column-count: 3;
  column-gap: 1em;
}

.pic-index-item {
  display: inline-block;
}

.pic-index-container img {
  display: block;
  max-width: 100%;
  object-fit: contain;
  max-height: fit-content;
}