.pic-index-container {
  display: grid;
  margin-top: 30px;
  font-family: Tahoma;
  background: #ebeef5;
}

.pic-index {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  column-gap: 1em;
  object-fit: contain;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
