.individual-pic {
  display: inline-block;
}

.pic-link > p:hover {
// .pic-idx-itm-title:hover {
  text-decoration-color: #1890ff;
}

.display-img {
  // display: inline-block;
  object-fit: cover;
  min-width: 100%;
  height: 300px;
}

.display-img:hover {
  filter: brightness(50%);
}