.show {
  margin-top: 50px;
  margin-left: 40px;
}

img {
  display: block;
  width: 100vw;
  object-fit: contain;
  max-height: 600px;
}

.img-container {
  background: black;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 60px;
}

.img-info {
  display: block;
  padding: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.img-info > h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
}

.img-info > h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.edit-update {
  display: inline-block;
  background-color: #1890ff;
  border: 1px #333 solid;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  width: 127.22px;
  height: 32.22px;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
  outline: 0;
  border: none;
}

.edit-delete {
  background-color: #db2f23;
  border: 1px #333 solid;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  width: 127.22px;
  height: 32.22px;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
  outline: 0;
  border: none;
}

// .follow-button {

// }