.pic-index-container {
  display: flex;
  margin-top: 30px;
  padding: 20px;
  font-family: Tahoma;
  background: rgb(247, 248, 250);
}

.pic-index {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
}

.pic-index-item {
  flex-grow: 1;
  position: relative;
  box-sizing: border-box;
}