.show {
  margin-top: 50px;
  margin-left: 40px;
}

.pic-show-container {
  position: relative;
}
.img-container {
  background: black;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.single-img {
  display: flex;
}

.single-img img {
  width: 80vw;
}

.img-info {
  display: block;
  padding: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.img-info > h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
}

.img-info > h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.edit-update {
  display: inline-block;
  background-color: #1890ff;
  border: 1px #333 solid;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  width: 127.22px;
  height: 32.22px;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
  outline: 0;
  border: none;
}

.edit-delete {
  background-color: #db2f23;
  border: 1px #333 solid;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  width: 127.22px;
  height: 32.22px;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
  outline: 0;
  border: none;
}

.edit-update:hover {
  filter: brightness(50%);
}

.edit-delete:hover {
  filter: brightness(50%);
}

.follow-button:hover {
  filter: brightness(50%);
}

.follow-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, FreeSans, Arial, sansserif;
  font-size: 16px;
  font-weight: bold;
  padding: 0px 16px;
  margin: 0px;
  height: 20px;
  width: 85px;
  border-width: 2px;
  border-radius: 28px;
  border-style: solid;
  color: rgb(8, 112, 209);
  border-color: rgb(8, 112, 209);
  background-color: rgb(255, 255, 255);
}

.uploader {
  display: flex;
}

.pic-show-uploader {
  font-weight: bold;
}

.pic-show-uploader > p {
  margin-left: 5px;
}

.pic-show-uploader > p:hover {
  color: rgb(8, 112, 209);
}