.home-feed > h3 {
  margin-top: 80px;
  font-family: Arial;
  font-size: 24px;
  font-weight: bolder;
  padding-left: 50px;
}

.home-feed-pictures {
  display: grid;
  flex-flow: row wrap;
  padding-top: 20px;
}