.profile {
  margin-top: 100px;
}

.user-info {
  text-align: center;
}

.user-info > h1 {
  font-weight: bold;
  font-size: 21px;
}

.profile-nav-tabs {
  display: flex;
  width: 18%;
  margin: 0 auto;
}

.profile-tab {
  background-color: white;
  border: 1px #333 solid;
  color: rgb(109, 115, 120);
  text-align: center;
  // border-radius: 5px;
  width: 127.22px;
  box-sizing: border-box;
  height: 32.22px;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
  outline: 0;
  border: none;
}

.clicked {
  color: rgb(8, 112, 209);
  box-shadow: rgb(8, 112, 209) 0px -2px inset;
}

.pics-on-profile {
  row-gap: 1em;
  background-color: rgb(247, 248, 250);
  display: flex;
}

.pics-on-profile-li {
  display: inline-block;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.gals-on-profile-li {
  display: inline-block;
}