.four-oh {
  background-image: image-url('404-error.png');
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  min-height: 100vh;
  background-size: 100% 100%; 
  width: 100vw;
}

.four-oh-four-title {
  font-size: 40px;
  font-family: Tahoma, sans-serif;
  font-weight: bolder;
  margin-top: 5%;
  left: 1%;
  margin-bottom: 15px;
  line-height: 110%;
  font-size: 2vw;
}

.four-oh > p {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 120%;
  font-size: 1vw;
}