.four-oh {
  background-image: image-url('404-error.png');
  background-size: cover;
  // display: flex;
  // position: relative;
  min-width: 1024px;
  height: 100%;
  // width: 100vw;
  padding-top: calc(0.46 * 100vw);

  display: inline-block;
  position: absolute;
  // top: 10%;
  // left: 1%;
  // max-width: 100%;
  text-align: left;
  // background-color: gray;
  opacity: 0.9;
  padding: 30px 30px;
  font-size: 1vw;
  border-radius: 10px;
}

.four-oh > h2 {
  font-size: 40px;
  font-family: Tahoma, sans-serif;
  font-weight: bolder;
  margin-bottom: 15px;
  line-height: 110%;
  font-size: 2vw;
}

