.hello {
  margin-top: 60px;
  // margin-left: 20px;
  font-family: Tahoma;
  background: #ebeef5;
}

.pic-index {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
}

.pic-index > .a {
  grid-column: 1 / span 2;
  align-items: center;
}

.pic-index > .b {
  grid-column: 3 / span 1;
  align-items: center;
}

.display-img {
  width: 100%;
  height: 100%;
}
