.show {
  margin-top: 50px;
  margin-left: 40px;
}

.img-container {
  background: black;
  align-items: center;
}

.display-img > h1 {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
  width: 100vw;
  object-fit: contain;
  max-height: 600px;
}
